 HEAD
# Bỏ qua các tệp sao lưu, cache, và nhạy cảm
*.log
*.tmp
*.bak
*.swp
*.swo

# Thư mục riêng tư hoặc hệ thống
vendor/
node_modules/
.env
.DS_Store
Thumbs.db

# Các tệp hệ thống từ IDE/Windows
.vscode/
*.~*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
51df2ca24c5d0c5e3cb527ffdd23f0bf23ab440d
